<div id="player">
    <div class="row primary">
        <div class="cover col-xs-3"></div>
        <div class="main col-xs-9">
            <div class="buttons">
                <button (click)="play()" class="btn btn-default">
                    <i class="glyphicon glyphicon-play"></i>
                </button>
                <button (click)="pause()" class="btn btn-default">
                    <i class="glyphicon glyphicon-pause"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row secondary">
        <progressbar value="0">0:00</progressbar>
        <!-- <div class="col-xs-12">
        </div> -->
    </div>
</div>
